body {
    width: 1440px;
    height: 6144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

section {
    height: 1024;
}

.section1 {
    background: linear-gradient(180deg, #7CA5B8 0.38%, #8AAEBE 26.84%, #6794AD 57.28%, #6A8DA0 91.56%, #65879B 99.71%);
}

.section2 {
    background: linear-gradient(91deg, #65879B 3.69%, #65879B 18.88%, #608296 28.27%, #809DAA 71.40%, #839EA9 96.50%);
}

.section3 {
    background: linear-gradient(180deg, #20323F 0%, #293D4C 16.48%, #2E4553 41.07%, #283B4A 64.14%, #1E303C 96.47%);
}

.section4 {
    background: linear-gradient(90deg, #233643 0%, #263946 34.63%, #1E303C 74.79%, #1E303C 100%);
}

.section5 {
    background: #E9F1F7;
}

.section6 {
    background: #E9F1F7;
}